<div class="modal-header">
    <button class="close" data-dismiss="modal" aria-hidden="true" type="button">&times;</button>
    <h4>Aviso Legal</h4>
</div>
<div class="modal-body" style="text-align: justify; font-size: smaller; max-height: calc(100vh - 30vh); overflow-y: auto;">

    <p>
        El código fuente, los diseños gráficos, las imágenes, las fotografías, los sonidos, las animaciones, el
        software, los textos, así como la información y los contenidos que se recogen en este web site están protegidos
        por la legislación española sobre los derechos de propiedad intelectual e industrial a favor de Sebastián Utrera
        Bonet. Las fotografías y los contenidos son libremente reproducibles por agencias, periódicos y web sites, con
        la única obligación de indicar la fuente:
        www.clubcarmonapaez.com
    </p>
    <br>


    <p>
        El usuario, única y exclusivamente, puede utilizar el material que aparezca en este sitio web para su uso
        personal y privado, quedando prohibido su uso con fines comerciales o para incurrir en actividades ilícitas.
        Todos los derechos derivados de la propiedad intelectual están expresamente reservados por Club Atletismo
        Carmona Páez.
    </p>
    <br>

    <p>
        Club Atletismo Carmona Páez velará por el cumplimiento de las anteriores condiciones como por la debida
        utilización de los contenidos presentados en sus páginas web, ejercitando todas las acciones civiles y penales
        que le correspondan en el caso de infracción o incumplimiento de estos derechos por parte del usuario.
    </p>
    <br>

    <p>
        Asímismo no se hace responsable de los contenidos publicados en los foros y canales de comunicación no
        administrados declinando responsabilidad alguna ante insultos, maltratos verbales, xenofobia, injurias y
        cualquier otro comportamiento no lícito, reservandose el derecho de expulsar al usuario que haya incurrido en
        estas acciones.
    </p>
    <br>


</div>
<div class="model-footer">


    <button type="button" style="margin: 10px" class="btn btn-primary" data-dismiss="modal">
        Cerrar
    </button>


</div>