<div class="modal-header">
    <button class="close" data-dismiss="modal" aria-hidden="true" type="button">&times;</button>
    <h4>LIGUILLA INTERNA “MANUEL JESÚS LÓPEZ LEÓN” </h4>
    <h3>2022-2023</h3>
</div>
<div class="modal-body" style="text-align: justify; font-size: smaller; max-height: calc(100vh - 30vh); overflow-y: auto;">
    <p></p>
    <h5 style="text-decoration: underline">Exposición de Motivos:</h5>

    <p>
Se trata de facilitar a nuestros socios la posibilidad de participar en una actividad
paralela a la competición, no pretendemos hacer algo complicado, la idea es algo
agradable que estimule la participación en las pruebas deportivas y donde debe de
primar el juego limpio.     <br>
    <h5 style="text-align: center"><b>NORMATIVA</b></h5>

    <p>
• La liguilla comenzará el próximo día 24 de septiembre y finalizará el domingo
antes del Memorial Carmona Paez (fecha por determinar), donde en la
convivencia del club se premiará a los diez mejores clasificados.
    </p>
    <br>

    <p>
• También coincidiendo con las Fiestas Navideñas se fijará una Meta Volante,
teniendo un detalle con los mejores posicionados. El número de premiados será
de 10, aunque dependerá de la disponibilidad en esos momentos del Club y
estará en atención al número de participantes.
    </p>
    <br>

    <p>
• Todos los socios participan en la Liguilla Interna sin necesidad de apuntarse,
salvo que de forma expresa manifieste lo contrario.
    </p>
    <br>

    <p>
• Las anotaciones y el control de la Liguilla, la llevará Don Manuel González
Lagostena.
    </p>
    <br>

    <p>
• Semanalmente se publicará en la web (http://www.clubcarmonapaez.com) el
listado de los clasificados, en orden de ascendente, con expresión de la
puntuación acumulada hasta la milésima, así como relación de todas las pruebas
puntuadas.
    </p>


    <br>
    <p>
• Se tomaran los datos de las clasificaciones de que se disponga o se tenga
conocimiento de ellas, pero siempre será responsabilidad del socio el comunicar
su participación en la prueba al encargado de llevarla, en las dos semanas
siguientes a la fecha de finalización de la misma, pasado este periodo de tiempo,
no podrá puntuarse ni tomarse en consideración cualquier reclamación por parte
del socio afectado.
   </p>


    <br>
<h5 style="text-align: center"><b>SISTEMA DE PUNTUACIÓN:</b></h5>
    <br>

    <p>
• La puntuación será por fases.
<br>&nbsp&nbsp0-10 kms………….1 punto
<br>11-20 kms………….2 puntos
<br>21-30 kms………….3 puntos
<br>31-40 kms………….4 puntos
<br>41-50 kms………….5 puntos
<br>&nbsp&nbsp&nbsp  +50 kms…………6 puntos
    </p>
    <br>
    <p>
• Para puntuar deberá estar inscrito como perteneciente al Club Carmona Paez, y
utilizar nuestra equipación (se entiende nuestra equipación, como cualquiera de
las que tenemos, más antigua o más moderna, o la camiseta del 25 aniversario)
durante el desarrollo de la carrera. Salvo casos excepcionales, con camisetas de
algún tipo solidario, carreras que por su naturaleza no sea posible (montaña,
ultra, obstáculos...) o que el socio no tenga la equipación. Bajo ningún motivo
puntuará un corredor con camiseta de otro club, o portando algún tipo de
bandera de otro club o similar en el pódium o llegada.
    </p>
    <br>

    <p>
• Se le dará un punto adicional por prueba a todos los corredores que no suban a
Pódium, y de esa manera facilitar el acceso a entrar en el cuadro de honor a
corredores que no suelan subir a pódium.
    </p>
    <br>

    <p>
• En las pruebas en las que por razón de sexo o categorías se corran diferentes
distancias, a todos los participantes se les dará la misma puntuación, que será la
mayor que le pueda corresponder.
    </p>
    <br>

    <p>
• Los socios que inicien una carrera y durante su participación en la misma se
retiren por lesión también serán puntuados al igual que el resto de participantes.
    </p>
    <br>

    <p>
• Cuando antes de empezar se suspenda una prueba por causas imputables a la
Organización se puntuará a aquellos corredores que se hubiesen inscrito por el
Club y estuviesen presentes.
    </p>
    <br>

    <p>
• Se puntuará la participación de aquel socio que haya efectuado labores de
organización en alguna prueba, siempre que esto se haya hecho como Carmona
Páez y responda a un requerimiento por parte de la Organización.
    </p>
    <br>

    <p>
• Solo se puntuará las pruebas oficiales y competitivas, abiertas a todo aquel que
desee, así como aquellas pruebas o eventos que el Club considere que este hecho
estimulará la participación, por tanto no se puntuarán las carreras en las que no
puedan competir atletas de ambos sexos, como la carrera de la mujer.
    </p>
    <br>

    <p>
• Los premios serán 100 € al primero, 75 € al segundo y 50€ al tercero, y trofeo
nominal a los 10 primeros.
    </p>
    <br>
    <p>
• Ante cualquier vicisitud o discrepancia expuesta por un corredor y no prevista en
estas normas, el Encargado de la Liguilla se lo comunicará a la Junta Directiva y
esta tomará la decisión que considere mas acertada, esta será inapelable y se
tomará para tenerla en cuenta ante situaciones similares.-
    </p>



    <br>

    <p>

Estas normas de procedimiento entrarán en vigor a partir del día 24 de septiembre, fecha
de inicio de temporada.
    </p>
    <br>

    <p  style="text-align: center">
San Fernando, a 21 de septiembre de 2022.
    </p>
    <br>

    <h4  style="text-align: center">
LA JUNTA DIRECTIVA.
    </h4>
    <br>

    <br>


</div>
<div class="model-footer">



        <button type="button" style="margin: 10px" class="btn btn-primary" data-dismiss="modal">
            Cerrar</button>



</div>