<div class="modal-header">
    <button class="close" data-dismiss="modal" aria-hidden="true" type="button">&times;</button>
    <h4>Protección de Datos</h4>
</div>
<div class="modal-body"
     style="text-align: justify; font-size: smaller; max-height: calc(100vh - 30vh); overflow-y: auto;">
    <p></p>


    <p>
        En el marco del cumplimiento de la legislación vigente, recogida en la Ley Orgánica 15/1999, de 13 de diciembre,
        sobre protección de Datos de Carácter Personal (L.O.P.D.), cuyo objeto es garantizar y proteger, en lo que
        concierne al tratamiento de los datos personales, las libertades y derechos fundamentales de las personas
        físicas, y especialmente de su honor e intimidad personal, Club Atletismo Carmona Páez informa a sus
        usuarios de que:
    </p>
    <br>


    <p>
        Club Atletismo Carmona Páez ha adoptado las medidas técnicas y organizativas conforme a lo dispuesto en la
        normativa vigente.
    </p>
    <br>

    <p>
        Los Datos de Carácter Personal que se recogen en los formularios de contratación del web site de Club Atletismo
        Carmona Páez son objeto de tratamiento automatizado y se incorporan en los ficheros denominados “club.sqlite3” debidamente
        registrados en la Agencia de Protección de Datos, cuya titularidad corresponde a Club Atletismo Carmona Páez.
    </p>
    <br>

    <p>
        La recogida y tratamiento automatizado de los Datos de Carácter Personal tiene como finalidad el mantenimiento
        de la relación contractual que en su caso se establezca con Club Atletismo Carmona Páez, estos datos son solicitados
        para permitir que los usuarios tenga la posibilidad de escribir y puntuar los eventos en la web.
    </p>
    <br>

    <p>
        Niveles de Seguridad: Club Atletismo Carmona Páez ha adoptado los niveles de seguridad adecuados a los
        datos que se facilitan y, además, se han instalado todos los medios y medidas técnicas a su alcance para evitar
        la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos que nos facilitan.
    </p>
    <br>

    <p>
        Derechos del Usuario: El usuario podrá, en todo momento, ejercitar los derechos reconocidos en la LOPD: Acceso
        Rectificación Cancelación Oposición. El ejercicio de estos derechos puede realizarlo cumplimentando los
        formularios de ejercicio del derecho de acceso, rectificación y cancelación de los datos personales, enviando
        por correo electrónico este documento debidamente cumplimentado y adjuntando la documentación que corresponda en
        cada caso. También pueden ejercitarse estos derechos en los términos que la normativa aplicable establece.
    </p>



</div>
<div class="model-footer">


    <button type="button" style="margin: 10px" class="btn btn-primary" data-dismiss="modal">
        Cerrar
    </button>


</div>