{% extends "club/index.html" %}
{% block content %}

    {% if  path  == 'montaña'  %}
    {% for sec in seccion1 %}
        <div class="col-lg-12 polaroid col-xs-12" style="padding:0; margin:0 0 40px 0">

                <div class="col-lg-4 col-md-4 col"><a href="{{ sec.cartel}}">
                    <div style="background-image: url({{ sec.cartel }});background-repeat: no-repeat; background-size: contain; background-position: center; height: 28em; width: auto; min-width: 12em; margin: 40px auto;"></div>
                </a>
                </div>

            <h2 style="text-align: center">{{ sec.titulo }}</h2>
            <div class="col-lg-8 col-xs-12" style="text-align: left; padding: 20px; z-index: 10;">

            {% autoescape off %}
               &nbsp{{ sec.texto }}
            {% endautoescape %}

            <hr>
               <p style="color: #555; opacity: 0.8; font-size: smaller; text-align: right">{{ sec.fecha_publicacion }}</p>

            </div>

        </div>
        {% endfor %}
    {% endif %}

    {% if  path  == 'entrenamiento'   %}
        {% for sec in seccion4%}
            {% if sec.visible == True %}
            <div class="col-lg-12 polaroid col-xs-12" style="padding:0; margin:0 0 40px 0">

                    <div class="col-lg-4 col-md-4 col"><a href="{{ sec.cartel}}">
                        <div style="background-image: url({{ sec.cartel }});background-repeat: no-repeat; background-size: contain; background-position: center; height: 28em; width: auto; min-width: 12em; margin: 40px auto;"></div>
                    </a>
                    </div>

                <h2 style="text-align: center">{{ sec.titulo }}</h2>
                <div class="col-lg-8 col-xs-12" style="text-align: left; padding: 20px; z-index: 10;">

                {% autoescape off %}
                   &nbsp{{ sec.texto }}
                {% endautoescape %}

                <hr>
                   <p style="color: #555; opacity: 0.8; font-size: smaller; text-align: right">{{ sec.fecha_publicacion }}</p>

                </div>

            </div>
            {% endif %}
            {% endfor %}
        {% endif %}

    {% if  path  == 'escuela'  %}
        {% for sec in seccion2 %}
     <div class="col-lg-12 polaroid col-xs-12" style="padding:0; margin:0 0 40px 0">

                <div class="col-lg-4 col-md-4 col"><a href="{{ sec.cartel }}">
                    <div style="background-image: url({{ sec.cartel}});background-repeat: no-repeat; background-size: contain; background-position: center; height: 28em; width: auto; min-width: 12em; margin: 40px auto;"></div>
                </a>
                </div>

            <h2 style="text-align: center">{{ sec.titulo }}</h2>
            <div class="col-lg-8 col-xs-12" style="text-align: left; padding: 20px; z-index: 10;">

            {% autoescape off %}
               &nbsp{{ sec.texto }}
            {% endautoescape %}

            <hr>
               <p style="color: #555; opacity: 0.8; font-size: smaller; text-align: right">{{ sec.fecha_publicacion }}</p>
            </div>

        </div>
        {% endfor %}
    {% endif %}
    {% if path == 'triatlon' %}

    {% for sec in seccion3 %}
     <div class="col-lg-12 polaroid col-xs-12" style="padding:0; margin:0 0 40px 0">

                <div class="col-lg-4 col-md-4 col"><a href="{{ sec.cartel }}">
                    <div style="background-image: url({{ sec.cartel }});background-repeat: no-repeat; background-size: contain; background-position: center; height: 28em; width: auto; min-width: 12em; margin: 40px auto;"></div>
                </a>
                </div>

            <h2 style="text-align: center">{{ sec.titulo }}</h2>
            <div class="col-lg-8 col-xs-12" style="text-align: left; padding: 20px; z-index: 10;">

            {% autoescape off %}
               &nbsp{{ sec.texto }}
            {% endautoescape %}

            <hr>
               <p style="color: #555; opacity: 0.8; font-size: smaller; text-align: right">{{ sec.fecha_publicacion }}</p>
            </div>

        </div>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block lateral %}
    {% include 'club/bloque_lateral.html' %}
{% endblock %}

